@media all and (max-width: 1280px){
    .title h1{font-size: 80px;}
}

@media all and (max-width: 1210px){
    .title h1{font-size: 70px;}

    .title a img{height: 310px;}
}

@media all and (max-width: 1110px){
    .title h1{font-size: 65px;}

    .title h1 a img{
        height: 80px;
        width: 80px;
    }

    .Nav a{font-size: 17px;}

    .Nav a img{
        width: 22px;
        height: 22px;
    }

    .Subcont img{height: 320px;}
}

@media all and (max-width: 1024px){
    .title h1{font-size: 60px;}

    .title h1 a img{
        height: 75px;
        width: 75px;
    }

    .Nav a img{
        width: 20px;
        height: 20px;
    }

    .Subcont img{height: 300px;}
}

@media all and (max-width: 910px){
    .title h1{font-size: 55px;}

    .title h1 a img{
        height: 70px;
        width: 70px;
    }

    .Nav a img{
        width: 20px;
        height: 20px;
    }

    .Subcont img{height: 300px;}
}

@media all and (max-width: 840px){
    .title h1{font-size: 53px;}

    .title h1 a img{
        height: 68px;
        width: 68px;
    }

    .Nav a{font-size: 14px;}

    .Nav a img{
        width: 19px;
        height: 19px;
    }

    .Subcont img{height: 260px;}
}

@media all and (max-width: 800px){
    .title h1{font-size: 50px;}

    .title h1 a img{
        height: 65px;
        width: 65px;
    }

    .Desplazar{display: none;}

    .Menu{flex-direction: column;}

    .Nav{
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .Nav a{
        font-size: 14px;
        padding: 9px 11px;
        justify-content: left;
    }

    #BtnMenu{display: block;}

    .Nav a img{
        width: 17px;
        height: 17px;
    }

    .Subcont img{height: 220px;}
}

@media all and (max-width: 752px){
    .title h1{font-size: 45px;}

    .title h1 a img{
        height: 65px;
        width: 65px;
    }

    .Nav a{
        font-size: 14px;
        padding: 9px 11px;
    }
}

@media all and (max-width: 700px){
    .title h1{
        font-size: 43px;
        margin-bottom: 15px;
    }

    .title h1 a img{
        height: 63px;
        width: 63px;
    }

    .Nav a{
        font-size: 14px;
        padding: 9px 11px;
    }
}

@media all and (max-width: 653px){
    .title h1{font-size: 40px;}

    .title h1 a img{
        height: 60px;
        width: 60px;
    }

    .Nav a{
        font-size: 13px;
        padding: 9px 11px;
    }

    .Subcont img{height: 210px;}
}

@media all and (max-width: 609px){
    .title h1{font-size: 37px;}

    .title h1 a img{
        height: 57px;
        width: 57px;
    }

    .Nav a{
        font-size: 12px;
        padding: 8px 10px;
    }

    .Subcont img{height: 250px;}
}

@media all and (max-width: 565px){
    .title h1{font-size: 35px;}

    .title h1 a img{
        height: 55px;
        width: 55px;
    }

    .Nav a{
        font-size: 11px;
        padding: 7px 9px;
    }

    .Subcont img{height: 200px;}
}

@media all and (max-width: 536px){
    .title h1{font-size: 32px;}

    .title h1 a img{
        height: 52px;
        width: 52px;
    }

    .Nav a{
        font-size: 10px;
        padding: 7px 9px;
    }

    .Nav a img{
        width: 15px;
        height: 15px;
    }

    .Subcont img{height: 190px;}
}

@media all and (max-width: 492px){
    .title h1{font-size: 30px;}

    .title h1 a img{
        height: 50px;
        width: 50px;
    }

    .Nav a{
        font-size: 10px;
        padding: 7px 9px;
    }

    .Nav a img{
        width: 15px;
        height: 15px;
    }

    .Subcont img{height: 180px;}
}

@media all and (max-width: 462px){
    .title h1{font-size: 27px;}

    .title h1 a img{
        height: 47px;
        width: 47px;
    }

    .Nav a{
        font-size: 10px;
        padding: 7px 9px;
    }

    .Nav a img{
        width: 15px;
        height: 15px;
    }
}

@media all and (max-width: 418px){
    .title h1{font-size: 25px;}

    .title h1 a img{
        height: 45px;
        width: 45px;
    }

    .Subcont img{height: 170px;}
}

@media all and (max-width: 390px){
    .title h1{font-size: 22px;}

    .title h1 a img{
        height: 42px;
        width: 42px;
    }

    .Subcont img{height: 160px;}
}

@media all and (max-width: 344px){
    .title h1{font-size: 20px;}

    .title h1 a img{
        height: 40px;
        width: 40px;
    }

    .Subcont img{height: 150px;}
}

@media all and (max-width: 320px){
    .title h1{font-size: 19px;}

    .title h1 a img{
        height: 38px;
        width: 38px;
    }

    .Nav{width: 35%;}

    .Subcont img{height: 140px;}
}